@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body.lock{
    overflow: hidden;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}
.content{
    padding-bottom: 80px;
}
.h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    color: #3E3E3E;
    margin-top: 80px;
    margin-bottom: 40px;
}
.header{
    box-shadow: 0px 4px 6px 0px #00000026;
    font-family: Inter;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.line{
    border-bottom: 1px solid #CECECE;
}
.header__logo{
    display: block;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    height: 26px;
    width: 209px;
     background-size: cover;
}
.nav__list{
    padding-left: 0;
    display: flex;
    gap: 40px;
    align-items: center;

}
.nav__list li{
    list-style: none;
}
.nav__link{
    text-decoration: none;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #666666;

}
.header__link{
    display: block;
    background-color: #0B457F;
    padding: 10px 35px;
    border-radius: 10px;
    
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    max-width: 185px;
}

.sub_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.address{
    display: flex;
    align-items: center;
    gap: 50px;
}
.address__link,
.work_time__link{
    text-decoration: none;
    color: #666666;
}
.address__link,
.address__link.map,
.work_time__link{
    padding-left: 25px;
    position: relative;
}
.address__link::before{
    display: block;
    content: '';
    position: absolute;
    background-image: url(../image/map-pin.png);
    width: 16px;
    height: 17px;
    top: 50%;
    left: 0;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}
.address__link.map::before{
    display: block;
    content: '';
    position: absolute;
    background-image: url(../image/Group\ 46.png);
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    background-size: cover;
}
.work_time__link::before{
    display: block;
    content: '';
    position: absolute;
    background-image: url(../image/Group\ 45.png);
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    background-size: cover;
}





.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 250px;
    
}
.grid__cover:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}
.grid__cover:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}
.grid__cover:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
}
.grid__cover:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid__cover{
    background-image: url(../image/cover_bg.png);
    font-family: Inter;
    color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    border-radius: 12px;
    position: relative;
    overflow: hidden; 
    text-align: left;
    
    
}
.grid__cover_content{
    position: inherit;
    z-index: 10;
}

.grid__cover_title{
    margin:0px 0px 10px 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    z-index: 10;
}
.grid__cover_text{
    margin:0 0 40px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    z-index: 10;
}
.grid__cover_link{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    transition: all .4s ease;
    font-size: 14px;
    font-weight: 600;
    z-index: 10;
}
.grid__cover_link:hover{
    color: rgba(255, 255, 255, 0.8);
    
}
.grid__cover:nth-child(1) .grid__cover_img{
    position: absolute;
    bottom: -250px;
    left: 0;
    right: 0;
    transition: all .8s ease;
}
.grid__cover:nth-child(1):hover .grid__cover_img{
   transform: translateY(-260px);   
}
.grid__cover:nth-child(1) .grid__cover_content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .8s ease;
}
.grid__cover:nth-child(1):hover .grid__cover_content{
    top: 20px; 
    transform: none;  
 }


 .grid__cover:nth-child(2) .grid__cover_img{
    position: absolute;
    bottom: 0px;
    right: -170px;
    transition: all .8s ease;
    z-index: 10;
}
.grid__cover:nth-child(2):hover .grid__cover_img{
   transform: translateX(-170px);   
}
.grid__cover:nth-child(2)::before{
    display: block;
    background-image: url(../image/cover2bg.png);
    content: "";
    position: absolute;
    bottom: 0px;
    right: 60px;
    width: 195px;
    height: 195px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .8s ease;
    opacity: 0;
    z-index: 1;
}
.grid__cover:nth-child(2):hover::before{
    opacity: 1;
}

.grid__cover:nth-child(3) .grid__cover_img{
    position: absolute;
    bottom: -150px;
    right: 0px;
    transition: all .8s ease;
}
.grid__cover:nth-child(3):hover .grid__cover_img{
   transform: translateY(-150px);   
}



.grid__cover:nth-child(4) .grid__cover_img{
    position: absolute;
    bottom: 0px;
    right: -300px;
    transition: all .8s ease;
    max-height: 165px;
    object-fit: cover;
    z-index: 10;
}
.grid__cover:nth-child(4):hover .grid__cover_img{
   transform: translateX(-300px);   
}
.grid__cover:nth-child(4)::before{
    display: block;
    background-image: url(../image/cover4bg.png);
    content: "";
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 331px;
    height: 331px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .8s ease;
    opacity: 0;
    z-index: 1;
}
.grid__cover:nth-child(4):hover::before{
    opacity: 1;
}
.grid__cover:nth-child(4) .grid__cover_content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .8s ease;
}
.grid__cover:nth-child(4):hover .grid__cover_content{
    top: 20px; 
    transform: none;  
 }



 @media(max-width:1200px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 250px;
    }
    .grid__cover:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .grid__cover:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .grid__cover:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .grid__cover:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .grid__cover:nth-child(4) .grid__cover_img {
        max-height: 93px;
        
    }
    .grid__cover:nth-child(3) .grid__cover_content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .8s ease;
    }
    .grid__cover:nth-child(3):hover .grid__cover_content{
        top: 20px; 
        transform: none;  
     }
     .grid__cover:nth-child(2) .grid__cover_content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .8s ease;
    }
    .grid__cover:nth-child(2):hover .grid__cover_content{
        top: 20px; 
        transform: none;  
     }
     .grid__cover:nth-child(1) .grid__cover_img {
        max-width: 217px;
        width: 100%;
        left: auto;
        right: 0;
        object-fit: cover;
        
    }
    
 }
 @media(max-width:900px){
    .sub_menu{
        display: none;
    }
    .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px 250px 250px;
    }
    .grid__cover:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .grid__cover:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .grid__cover:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .grid__cover:nth-child(4) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
 }

 .header__burger{
    display: none;
    width: 35px;
    height: 35px;
    background-image: url(../image/MenuFilled.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
@media(max-width:1200px){
    .header__burger{
        display: block;
    }
    .header__burger.active{
        background-image: url(../image/MenuFilled\ \(1\).png);
        position: fixed;
        top: 20px;
        right: 25px;
        
    }
    .header.active .sub_menu{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        align-items: flex-start;
        gap: 20px;
    }
    .header.active .address{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        align-items: flex-start;
        gap: 20px;
    }
    .header.active .nav__link.header__link{
        display: block;
    }
    .header{
        position: relative;
        z-index: 100;
        background-color: #FFFFFF;
    }
    .header.active .menu{
        flex-direction: column;
        padding-top: 20px;
        align-items: flex-start;
        gap: 20px;
    }
    .header.active {
       box-shadow: none;
    }
    .header.active .line{
        border: none;
     }
    .content.active{
        position: relative;

    }
    .content.active::before{
        z-index: 15;
        display: block;
        content: "";
        position: absolute;
        height: 120%;
        top: -70px;
        left: 0;
        bottom: 0;
        right: 0;
        background: #FFFFFF;
    }
    .nav__list li:not(:last-child) {   
        display: none;
    }
    .nav__list.active li:not(:last-child) {   
        display: block;
        z-index: 0;

    }
    .nav__list.active {   
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        
    }
    
    .header__wrap{
        display: flex;
        align-items: center;
        gap: 50px;
    }
}
@media(max-width:600px){
    .header{
        padding: 15px 0;
    }
    .header .line{
       border: none;
    }
    .h2{
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 16px;
        font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;

    }
    .grid__cover_title{
        font-size:16px ;
    }
    .grid__cover:nth-child(1) .grid__cover_img {
        max-width: 180px;
    }
    .nav__link.header__link{
        display: none;
    }
}